* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.contianer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.nav, .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.nav {
    background-color: #e9ecef;
}

.main {
    background-color: #dee2e6;
    flex-grow: 1; /* This makes the main content area expand to fill the remaining space */
}

.footer {
    background-color: #f8f9fa;
}
